<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href={% static "styles.css" %}>
</head>
<body>
    <div class="headings"><h2>Play any songs in just one click.</h2></div>
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <input class="inputbar" name="text" type="text" placeholder="Enter your song name">
            <input class="btn" type="submit" value="Play">
        </form>
    </div>
    <script src={% static "script.js" %}></script>
</body>
</html>